In [85]:
import pandas as pd
data = pd.read_csv('D:/ShipSupplies/DA/data/raw.csv')

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24667 entries, 0 to 24666
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Assembly     24664 non-null  object
 1   Control No.  15465 non-null  object
 2   D/T          22335 non-null  object
 3   Machinery    24664 non-null  object
 4   No.          24664 non-null  float64
 5   Part No.1    24640 non-null  object
 6   Subject      24642 non-null  object
 7   견적           24200 non-null  object
 8   견적단가         24664 non-null  float64
 9   견적수량         24546 non-null  float64
 10  견적화폐         24546 non-null  object
 11  발주           24546 non-null  object
 12  발주금액         24549 non-null  float64
 13  발주번호         24664 non-null  object
 14  발주수량         24546 non-null  float64
 15  발주처          24546 non-null  object
 16  선박입고수량       24664 non-null  float64
 17  입고창고         21345 non-null  object
 18  창고입고         21345 non-null  object
 19  창고입고수량       24664 non-null  float64
 20  창고출고         19277 non-null  object
 21  창고출고수량       24664 non-null  float64
 22  청구량          24546 non-null  float64
 23  청구서번호        24664 non-null  object
 24  청구품목         24664 non-null  object
 25  출고선박         19277 non-null  object
 26  출고운반선        19277 non-null  object
dtypes: float64(9), object(18)
memory usage: 5.1+ MB

In [87]:
data.count()

Assembly       24664
Control No.    15465
D/T            22335
Machinery      24664
No.            24664
Part No.1      24640
Subject        24642
견적             24200
견적단가           24664
견적수량           24546
견적화폐           24546
발주             24546
발주금액           24549
발주번호           24664
발주수량           24546
발주처            24546
선박입고수량         24664
입고창고           21345
창고입고           21345
창고입고수량         24664
창고출고           19277
창고출고수량         24664
청구량            24546
청구서번호          24664
청구품목           24664
출고선박           19277
출고운반선          19277
dtype: int64

In [88]:
df = data.fillna(0)

In [89]:
# head
df.head()

,Assembly,Control No.,D/T,Machinery,No.,Part No.1,Subject,견적,견적단가,견적수량,...,입고창고,창고입고,창고입고수량,창고출고,창고출고수량,청구량,청구서번호,청구품목,출고선박,출고운반선
0,BLOCK,19-04-077,56,CARGO BOOM VANG BLOCK (STBD 하),1.0,C15S10BS,COK-F-DECK-190104-01,2019-01-11,1022.76,2.0,...,BW,2019-05-03,2.0,2019-05-20,2.0,2.0,COK-BS-DSP-1901004,"MCKISSICK CONSTRUCTION BLOCKS (WIRE SIZE : 5/8"")",COK,ONENESS
1,BLOCK,19-04-064,56,SPANISH BOOM VANG BLOCK (PORT 상),2.0,C15D10BS,COK-F-DECK-190104-01,2019-01-11,1713.96,1.0,...,BW,2019-04-18,1.0,2019-05-20,1.0,1.0,COK-BS-DSP-1901004,"MCKISSICK CONSTRUCTION BLOCKS (WIRE SIZE : 5/8"")",COK,ONENESS편 탁송
2,TOW BLOCK,19-04-077,56,PURSE BLOCK,3.0,WESTEC 20TON TOW BLOCK,COK-F-DECK-190104-01,2019-01-11,5843.75,1.0,...,BW,2019-05-03,1.0,2019-05-20,1.0,1.0,COK-BS-DSP-1901004,WESTEC 20TON TOW BLOCK,COK,ONENESS
3,POWER PACK AS,0,60,MAIN ENGINE,1.0,40028340,폰페이 재고정정,2019-04-01,4000.00,8.0,...,PN,2019-04-01,8.0,2019-08-01,1.0,8.0,COK-BS-DSP-1905036,GE POWER PACK FORK - E7(B),DEO,HANARO
4,POWER PACK AS,0,60,MAIN ENGINE,2.0,40028340,폰페이 재고정정,2019-04-01,4000.00,8.0,...,PN,2019-04-01,8.0,2019-08-29,7.0,8.0,COK-BS-DSP-1905036,GE POWER PACK FORK - E7(B),ELS,SL ARCHI

In [90]:
# column정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24667 entries, 0 to 24666
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Assembly     24667 non-null  object
 1   Control No.  24667 non-null  object
 2   D/T          24667 non-null  object
 3   Machinery    24667 non-null  object
 4   No.          24667 non-null  float64
 5   Part No.1    24667 non-null  object
 6   Subject      24667 non-null  object
 7   견적           24667 non-null  object
 8   견적단가         24667 non-null  float64
 9   견적수량         24667 non-null  float64
 10  견적화폐         24667 non-null  object
 11  발주           24667 non-null  object
 12  발주금액         24667 non-null  float64
 13  발주번호         24667 non-null  object
 14  발주수량         24667 non-null  float64
 15  발주처          24667 non-null  object
 16  선박입고수량       24667 non-null  float64
 17  입고창고         24667 non-null  object
 18  창고입고         24667 non-null  object
 19  창고입고수량       24667 non-null  float64
 20  창고출고         24667 non-null  object
 21  창고출고수량       24667 non-null  float64
 22  청구량          24667 non-null  float64
 23  청구서번호        24667 non-null  object
 24  청구품목         24667 non-null  object
 25  출고선박         24667 non-null  object
 26  출고운반선        24667 non-null  object
dtypes: float64(9), object(18)
memory usage: 5.1+ MB

In [91]:
df.isna().count().sum()

666009

In [95]:
import numpy as np
temp = df[df['견적'] != 0]
temp = temp[temp['창고입고'] != 0]
idx = temp.index
idx
# temp
# df = df.drop(idx,axis=0, inplace=True)
# df1
# df1['견적'] = pd.to_datetime(df1['견적'])
# df1['창고입고'] = pd.to_datetime(df1['창고입고'])

Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,     9,
       ...
       24638, 24639, 24640, 24641, 24642, 24643, 24644, 24645, 24646, 24647],
      dtype='int64', length=20942)

In [96]:
df1 = df.drop(idx, inplace=True)

In [97]:
df1

In [81]:
df2 = df[df['발주'] != 0]
df2 = df2[df2['창고입고'] != 0]
df2

TypeError: 'NoneType' object is not subscriptable

In [53]:
df2.count()

Assembly       285
Control No.    285
D/T            285
Machinery      285
No.            285
Part No.1      285
Subject        285
견적             285
견적단가           285
견적수량           285
견적화폐           285
발주             285
발주금액           285
발주번호           285
발주수량           285
발주처            285
선박입고수량         285
입고창고           285
창고입고           285
창고입고수량         285
창고출고           285
창고출고수량         285
청구량            285
청구서번호          285
청구품목           285
출고선박           285
출고운반선          285
dtype: int64

In [54]:
# column정보
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3725 entries, 235 to 24666
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Assembly     3725 non-null   object
 1   Control No.  3725 non-null   object
 2   D/T          3725 non-null   object
 3   Machinery    3725 non-null   object
 4   No.          3725 non-null   float64
 5   Part No.1    3725 non-null   object
 6   Subject      3725 non-null   object
 7   견적           3725 non-null   object
 8   견적단가         3725 non-null   float64
 9   견적수량         3725 non-null   float64
 10  견적화폐         3725 non-null   object
 11  발주           3725 non-null   object
 12  발주금액         3725 non-null   float64
 13  발주번호         3725 non-null   object
 14  발주수량         3725 non-null   float64
 15  발주처          3725 non-null   object
 16  선박입고수량       3725 non-null   float64
 17  입고창고         3725 non-null   object
 18  창고입고         3725 non-null   object
 19  창고입고수량       3725 non-null   float64
 20  창고출고         3725 non-null   object
 21  창고출고수량       3725 non-null   float64
 22  청구량          3725 non-null   float64
 23  청구서번호        3725 non-null   object
 24  청구품목         3725 non-null   object
 25  출고선박         3725 non-null   object
 26  출고운반선        3725 non-null   object
dtypes: float64(9), object(18)
memory usage: 814.8+ KB

In [55]:
# df['견적'] = pd.to_datetime(df['견적'])