데이터 불러오기

In [3]:
import pandas as pd
data = pd.read_csv('D:/ShipSupplies/DA/data/raw.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24667 entries, 0 to 24666
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Assembly     24664 non-null  object
 1   Control No.  15465 non-null  object
 2   D/T          22335 non-null  object
 3   Machinery    24664 non-null  object
 4   No.          24664 non-null  float64
 5   Part No.1    24640 non-null  object
 6   Subject      24642 non-null  object
 7   견적           24200 non-null  object
 8   견적단가         24664 non-null  float64
 9   견적수량         24546 non-null  float64
 10  견적화폐         24546 non-null  object
 11  발주           24546 non-null  object
 12  발주금액         24549 non-null  float64
 13  발주번호         24664 non-null  object
 14  발주수량         24546 non-null  float64
 15  발주처          24546 non-null  object
 16  선박입고수량       24664 non-null  float64
 17  입고창고         21345 non-null  object
 18  창고입고         21345 non-null  object
 19  창고입고수량       24664 non-null  float64
 20  창고출고         19277 non-null  object
 21  창고출고수량       24664 non-null  float64
 22  청구량          24546 non-null  float64
 23  청구서번호        24664 non-null  object
 24  청구품목         24664 non-null  object
 25  출고선박         19277 non-null  object
 26  출고운반선        19277 non-null  object
dtypes: float64(9), object(18)
memory usage: 5.1+ MB

In [5]:
data.count()

Assembly       24664
Control No.    15465
D/T            22335
Machinery      24664
No.            24664
Part No.1      24640
Subject        24642
견적             24200
견적단가           24664
견적수량           24546
견적화폐           24546
발주             24546
발주금액           24549
발주번호           24664
발주수량           24546
발주처            24546
선박입고수량         24664
입고창고           21345
창고입고           21345
창고입고수량         24664
창고출고           19277
창고출고수량         24664
청구량            24546
청구서번호          24664
청구품목           24664
출고선박           19277
출고운반선          19277
dtype: int64

결측치 0으로 대체

In [6]:
df = data.fillna(0)

데이터 조회

In [7]:
# head
df.head()

,Assembly,Control No.,D/T,Machinery,No.,Part No.1,Subject,견적,견적단가,견적수량,...,입고창고,창고입고,창고입고수량,창고출고,창고출고수량,청구량,청구서번호,청구품목,출고선박,출고운반선
0,BLOCK,19-04-077,56,CARGO BOOM VANG BLOCK (STBD 하),1.0,C15S10BS,COK-F-DECK-190104-01,2019-01-11,1022.76,2.0,...,BW,2019-05-03,2.0,2019-05-20,2.0,2.0,COK-BS-DSP-1901004,"MCKISSICK CONSTRUCTION BLOCKS (WIRE SIZE : 5/8"")",COK,ONENESS
1,BLOCK,19-04-064,56,SPANISH BOOM VANG BLOCK (PORT 상),2.0,C15D10BS,COK-F-DECK-190104-01,2019-01-11,1713.96,1.0,...,BW,2019-04-18,1.0,2019-05-20,1.0,1.0,COK-BS-DSP-1901004,"MCKISSICK CONSTRUCTION BLOCKS (WIRE SIZE : 5/8"")",COK,ONENESS편 탁송
2,TOW BLOCK,19-04-077,56,PURSE BLOCK,3.0,WESTEC 20TON TOW BLOCK,COK-F-DECK-190104-01,2019-01-11,5843.75,1.0,...,BW,2019-05-03,1.0,2019-05-20,1.0,1.0,COK-BS-DSP-1901004,WESTEC 20TON TOW BLOCK,COK,ONENESS
3,POWER PACK AS,0,60,MAIN ENGINE,1.0,40028340,폰페이 재고정정,2019-04-01,4000.00,8.0,...,PN,2019-04-01,8.0,2019-08-01,1.0,8.0,COK-BS-DSP-1905036,GE POWER PACK FORK - E7(B),DEO,HANARO
4,POWER PACK AS,0,60,MAIN ENGINE,2.0,40028340,폰페이 재고정정,2019-04-01,4000.00,8.0,...,PN,2019-04-01,8.0,2019-08-29,7.0,8.0,COK-BS-DSP-1905036,GE POWER PACK FORK - E7(B),ELS,SL ARCHI

In [8]:
# column명
df.columns

Index(['Assembly', 'Control No.', 'D/T', 'Machinery', 'No.', 'Part No.1',
       'Subject', '견적', '견적단가', '견적수량', '견적화폐', '발주', '발주금액', '발주번호', '발주수량',
       '발주처', '선박입고수량', '입고창고', '창고입고', '창고입고수량', '창고출고', '창고출고수량', '청구량',
       '청구서번호', '청구품목', '출고선박', '출고운반선'],
      dtype='object')

In [9]:
# column별 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24667 entries, 0 to 24666
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Assembly     24667 non-null  object
 1   Control No.  24667 non-null  object
 2   D/T          24667 non-null  object
 3   Machinery    24667 non-null  object
 4   No.          24667 non-null  float64
 5   Part No.1    24667 non-null  object
 6   Subject      24667 non-null  object
 7   견적           24667 non-null  object
 8   견적단가         24667 non-null  float64
 9   견적수량         24667 non-null  float64
 10  견적화폐         24667 non-null  object
 11  발주           24667 non-null  object
 12  발주금액         24667 non-null  float64
 13  발주번호         24667 non-null  object
 14  발주수량         24667 non-null  float64
 15  발주처          24667 non-null  object
 16  선박입고수량       24667 non-null  float64
 17  입고창고         24667 non-null  object
 18  창고입고         24667 non-null  object
 19  창고입고수량       24667 non-null  float64
 20  창고출고         24667 non-null  object
 21  창고출고수량       24667 non-null  float64
 22  청구량          24667 non-null  float64
 23  청구서번호        24667 non-null  object
 24  청구품목         24667 non-null  object
 25  출고선박         24667 non-null  object
 26  출고운반선        24667 non-null  object
dtypes: float64(9), object(18)
memory usage: 5.1+ MB

In [10]:
df.count()

Assembly       24667
Control No.    24667
D/T            24667
Machinery      24667
No.            24667
Part No.1      24667
Subject        24667
견적             24667
견적단가           24667
견적수량           24667
견적화폐           24667
발주             24667
발주금액           24667
발주번호           24667
발주수량           24667
발주처            24667
선박입고수량         24667
입고창고           24667
창고입고           24667
창고입고수량         24667
창고출고           24667
창고출고수량         24667
청구량            24667
청구서번호          24667
청구품목           24667
출고선박           24667
출고운반선          24667
dtype: int64

데이터 타입 변경 및 데이터 전처리

In [14]:
# df['견적'] = pd.to_datetime(df['견적'])
df['견적단가'] = df['견적단가'].astype('string')
df['견적단가'] = df['견적단가'].str.replace('"', '')
df['견적단가'] = df['견적단가'].str.replace(',', '').astype('int64')
df['발주'] = pd.to_datetime(df['발주'])
df['발주금액'] = df['발주금액'].astype('string')
df['발주금액'] = df['발주금액'].str.replace('"', '')
df['발주금액'] = df['발주금액'].str.replace(',', '').astype('int64')
df['창고입고'] = pd.to_datetime(df['창고입고'])
df['창고입고수량'] = pd.to_numeric(df['창고입고수량'])

ValueError: invalid literal for int() with base 10: '1022.76'

In [13]:
df['견적'] = pd.to_datetime(df['견적'])

ValueError: time data "0" doesn't match format "%Y-%m-%d", at position 35. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

데이터 정제

In [ ]:
df1 = df[df['리드타임'] >= 0]
df1 = df1[df['발주'] > '2000-01-01 00:00:00']
df1 = df1[df['창고입고'] > '2000-01-01 00:00:00']

<ipython-input-23-125a6446321d>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1 = df1[df['발주'] > '2000-01-01 00:00:00']
<ipython-input-23-125a6446321d>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1 = df1[df['창고입고'] > '2000-01-01 00:00:00']

데이터 저장

In [ ]:
df1.to_csv("/content/데이터_전처리_파일.csv", encoding='cp949')

In [ ]:
df1.info()

In [ ]:
df1.count()